﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @System.Web.Optimization.Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <div class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0px;position:fixed;width:100%">
            <div>
                <a class="navbar-brand" style="padding-top: 3px;" href="/Dashboard">
                    <img src="~/images/evgeo5.png" width="100" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
                    @if(Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Admin Center", "Index", "Admin")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
                    @if (Request.IsAuthenticated)  
                    {  
                        <li>@Html.ActionLink("Log Out", "Logout", "SignIn")</li>
                    }  
                    else  
                    {  
                        <li>@Html.ActionLink("Log In", "Index", "Admin")</li>
                    }
                </ul>
            </div>
        </div>
        <br />
        <br />
        @RenderBody()
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>