@using ChargerID.UI;
@using ChargerID.UI.Models
@model UserModel

@{
    ViewBag.Title = "ChargerID Sign In";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChargerID Sign In</title>
</head>
<body>
    <br />
    <br />
    <div class="container">
        <div class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            @using (Html.BeginForm("Index", "SignIn", FormMethod.Post, new { Username = @Model.Username, Password = @Model.Password, Error = @Model.Error }))
            {
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="username" value="@Model.Username" required autofocus style="margin-bottom: 10px;">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" value="@Model.Password" required style="margin-bottom: 10px;">
            <button class="btn btn-lg btn-primary btn-block"  onclick="$(this).closest('form').submit(); return false;" type="submit">Sign in</button>
            <input type="text" id="inputError" class="form-control" style="border:none;text-align:center;color:red" name="error" value="@Model.Error" />
            }
        </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
}